.entrylist {
    list-style: none;
    margin: ($gutter*4) 0 0;
    padding: 0;
    &__entry {
        position: relative;
        margin: 0 0 0 $gutter;
        padding: ($gutter*3) 0 ($gutter*6) ($gutter*2);
        border-left: $timeline-thickness solid map-get($colors, light);
        &:last-child {
            padding-bottom: 0;
            &:after {
                border-bottom-color: transparent;
            }
        }
        &:before {
            position: absolute;
            left: -(($timeline-circle/2) + ($gutter/2) + ($timeline-thickness/2));
            top: -(($timeline-circle/2) + ($gutter/2));
            content: "";
            width: $timeline-circle;
            height: $timeline-circle;
            border-radius: 100%;
            background-color: map-get($colors, lightest);
            border: ($gutter/2) solid map-get($colors, highlight);
        }
        &:after {
            margin-top: ($gutter*3);
            content: "";
            border-bottom: ($timeline-thickness/2) solid map-get($colors, light);
            display: block;
        }
        > a {
            color: map-get($colors, highlight);
        }
        &-date {
            position: absolute;
            left: (2*$gutter);
            top: -($gutter + 2px);
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: map-get($colors, highlight);
            font:  {
                family: map-get($font, heading);
                weight: 700;
                size: 1.2em;
            }
        }
        &-heading {
            font:  {
                family: map-get($font, heading);
                weight: 700;
                size: 1.5em;
            }
            line-height: 1.2;
            margin: 0 0 $gutter 0;
            padding: 0;
        }
        &-image {
            margin: 0 0 $gutter 0;
            padding: 0;
            &-caption {
                font-size: .6em;
                margin: ($gutter/2) 0 ($gutter) 0;
                color: map-get($colors, medium);
                &:before {
                    content: "Source: ";
                }
            }
            img {
                display: block;
                width: 100%;
                filter: saturate(.3);
            }
        }
        &-video {
            position: relative;
            display: block;
            height: 0;
            padding: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
        &-description {
            margin: 0 0 $gutter 0;
            padding: 0;
            text-align: justify;
        }
        &-anchor {
            margin-top: $gutter;
        }
    }
}
