.imprint {
    width: 100%;
    padding: ($gutter*2);
    color: map-get($colors, medium);
    text-align: center;
    background: map-get($colors, light);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .15);
    font-family: map-get($font, family);
    &__body {
        max-width: map-get($breakpoints, mid);
        min-width: 280px;
        margin: 0 auto;
        &-text {
            font-size: .8em;
            margin-top: $gutter/2;
        }
        &-heading {
            font-size: 1em;
            margin-bottom: $gutter/2;
        }
        &-main-heading {
            color: map-get($colors, dark);
            font-size: 1.6em;
        }
    }
}
