.projects {
    margin: 0 auto;
    padding: 0 ($gutter*2);
    max-width: map-get($breakpoints, mid);
    > p:first-child {
        margin-top: 0;
    }
    &__heading {
        letter-spacing: -1.2px;
        font:  {
            family: map-get($font, heading);
            weight: 700;
            size: 1.8em;
        }
        margin: (3*$gutter) 0 ($gutter) 0;
    }
    &__description  {
        text-align: justify;
        margin-bottom: $gutter*2;
    }
}
