$timeline-thickness: 2px;
$gutter: 10px;
$timeline-circle: 20px;
$font: (
    'family': ('Open Sans', sans-serif),
    'size': 17px
);
$colors: (
    'lightest': #fff,
    'light': #e5e6e6,
    'medium': #9f9f9f,
    'dark': #404342,
    'highlight': #14aa79
);
$breakpoints: (
    'mid': 768px
);
