$timeline-thickness: 2px;
$header-height: 250px;
$gutter: 10px;
$timeline-circle: 20px;
$social-icon-size: 24px;
$font: (
    "text": ("Open Sans", sans-serif),
    "heading": ("Open Sans Condensed", sans-serif),
    "size": 17px
);
$colors: (
    "lightest": #fff,
    "light": #e5e6e6,
    "medium": #9f9f9f,
    "dark": #404342,
    "highlight": #14aa79
);
$breakpoints: (
    "smaller": 550px,
    "mid": 768px
);
