$gutter: 10px;
$timeline-circle: 20px;
$font: (
    'family': ('Open Sans', sans-serif),
    'size': 17px
);
$colors: (
    'lightest': #fff,
    'light': #efefef,
    'medium': #e5e6e6,
    'dark': #404342,
    'highlight': #14aa79
);
