-
    projects = [
        {
            name: "BeuthBox: Paella Player",
            date: 2017,
            image: {
                url: "./img/dist/beuthbox.jpg",
                altText: "BeuthBox: Opencast Streaming Server with Paella Player"
            },
            description: [
                "During the course Streaming Media Services at the Beuth University of Technology my task was to integrate Paella Player into our Opencast-server. Pallea Player has a lot of neat features, as dual-view, HLS-streaming and many more.",
                "Therefore customized versions need to be produced, which are available below."
            ],
            anchor: {
                href: "http://141.64.153.82:8080/paella/ui/index.html",
                text: "BeuthBox Paella Player"
            },
            labels: ["open source"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery",
                "Angular 1.5",
                "Opencast"
            ]
        },
        {
            name: "Slack Command Trigger",
            date: 2017,
            description: [
                "You need a tool for triggering commands in any of your Slack-channels?",
                "Here you go. With this Python implementation you can trigger any command in any channel. For instance, I used it to trigger a poll for having lunch once a day around lunch-time."
            ],
            anchor: {
                href: "https://github.com/dazlious/slack-cmd-trigger",
                text: "slack-cmd-trigger on github"
            },
            labels: ["open source"],
            technologies: [
                "Python"
            ]
        },
        {
            name: "AutoTilingTexturer (still in progress)",
            date: 2016,
            description: [
                "An implementation of an auto tiling algorithm in node.js.",
                "The task of the algorithm is to create a map with textures based on a 2D bitmap. Each pixel on the bitmap corresponds to a texture. The main task is the recognition of edges and corners, as well as the transitions of different textures."
            ],
            anchor: {
                href: "https://github.com/dazlious/AutoTilingTexturer",
                text: "AutoTilingTexturer on github"
            },
            labels: ["open source"],
            technologies: [
                "Node.js/ES2015"
            ]
        },
        {
            name: "MappedJS – Authoring and illustration of infographical maps",
            date: 2016,
            image: {
                url: "./img/dist/mjs.jpg",
                altText: "MappedJS: Authoring and illustration of infographical maps on the web"
            },
            description: [
                "Project for my Bachelor thesis entitled 'Authoring and illustration of infographical maps on the web'.",
                "MappedJS is a JavaScript library for displaying 2D-bitmap images as an interactive map in a browser. Furthermore marker, labels and some neat features are implemented, yet.",
                "MappedJS has also an application written with Electron, which enables people without programming knowledge to create beautiful maps."
            ],
            anchor: {
                href: "http://mappedjs.de",
                text: "MappedJS"
            },
            labels: ["open source", "university"],
            technologies: [
                "JavaScript/ES2015",
                "CSS3/Sass",
                "HTML5/PugJS",
                "Canvas2D",
                "Electron/Node.js",
                "AngularJS",
                "Webpack",
                "Python",
                "Adobe Illustrator",
                "Adobe Photoshop",
                "QGIS",
                "JSON"
            ]
        },
        {
            name: "ImageSlicer",
            date: 2016,
            description: [
                "A tiny algorithm written in Python to divide a large image into many small tiles. A large amount of options can be set."
            ],
            anchor: {
                href: "https://github.com/MappedJS/mjs-imageslicer",
                text: "ImageSlicer on github"
            },
            labels: ["open source"],
            technologies: [
                "Python"
            ]
        },
        {
            name: "Video: F-Hain | contraries",
            date: 2015,
            description: [
                "Within the course Multimediatechnik Video at the Beuth University of Technology, a short movie should be produced. Together with two fellow students this video was recorded, cut and edited."
            ],
            video: {
                url: "https://www.youtube.com/embed/_SPnaGCNPGY",
                width: 560,
                height: 315
            },
            anchor: {
                href: "https://beuth-mi-bachelor.github.io/multimedia_technik_video-gehrmann/",
                text: "project on github"
            },
            labels: ["team 3+", "university"],
            technologies: [
                "Adobe After Effects",
                "Adobe Premiere Pro"
            ]
        },
        {
            name: "BILD: AniSort – Animated data sorting",
            date: 2015,
            description: [
                "This project is a modular JavaScript plugin, which enables the discovery and presentation of sortable data. Data can additionally be searched, filtered and explored in a detailed view."
            ],
            image: {
                url: "./img/dist/nobelprize.jpg",
                altText: "Screenshot of Nobel prize AniSort",
                source: "BILD.de, http://www.bild.de/short/sti-43726740.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/staticdata/infobild/2014_2/production/anisort/20151202-nobelpreistraeger-new/build/index.html",
                text: "Nobel prize AniSort at BILD.de"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "Canvas2D",
                "jQuery",
                "JSON"
            ]
        },
        {
            name: "BILD: Interactive Table – Tabular data representation",
            date: 2015,
            description: [
                "Based on jQuery DataTables, this plugin provides a complex representation of information within a table. Heatmaps can be generated in rows and columns. Furthermore it is possible to display pictures, bar graphs and much more."
            ],
            image: {
                url: "./img/dist/table.jpg",
                altText: "Screenshot of Interactive Table with topic: Violence in subways",
                source: "BILD.de, http://www.bild.de/short/sti-47317826.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/staticdata/infobild/2014_2/production/interactiveTable/20160814-ubahngewalt/build/index.html",
                text: "Violence in subways at BILD.de"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery DataTables",
                "jQuery",
                "JSON"
            ]
        },
        {
            name: "BILD: Peter Boenisch Fellowship",
            date: 2015,
            description: [
                "On the occasion of the 10th anniversary of Peter Boenisch's death, a scholarship was introduced, which gives journalists the opportunity to create a report about any topic.",
                "A standalone website was created, so interested journalists would be able to apply for the program."
            ],
            image: {
                url: "./img/dist/boenisch.jpg",
                altText: "Screenshot of Peter Boenisch Fellowship",
                source: "BILD.de, https://www.peterboenisch.de"
            },
            anchor: {
                href: "https://www.peterboenisch.de/",
                text: "Peter Boenisch Fellowship"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery",
            ]
        },
        {
            name: "BILD: Dictionary about Islamism",
            date: 2015,
            description: [
                "A searchable dictionary providing information and terms related to Islamism. Photos and videos support the individual definitions."
            ],
            image: {
                url: "./img/dist/islamismus.jpg",
                altText: "Teaser of the dictionary about Islamism from BILD.de",
                source: "BILD.de, http://www.bild.de/short/sti-39386542.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/bild-plus/storytelling/topics/islamismus/lexikon-des-islamismus--39386542,la=de.bild.html",
                text: "Dictionary about islamism at BILD.de"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery"
            ]
        },
        {
            name: "videoChop – slice.compose.online",
            date: 2014,
            description: [
                "Implementation of a clientside video editing web application with two fellow students within one semester, using modern web technologies. To compose a video in a webworker thread, Emscripten was used to convert ffmpeg to JavaScript."
            ],
            image: {
                url: "./img/dist/videochop.jpg",
                altText: "Screenshot of videochop.de"
            },
            anchor: {
                href: "http://videochop.de",
                text: "videoChop"
            },
            labels: ["team 3+", "university"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery",
                "ffmpeg"
            ]
        },
        {
            name: "BILD: Storytelling about Tsunami – 10 years after",
            date: 2014,
            description: [
                "An interactive report about the tsunami hitting Thailand's coast in 2004.",
                "The storytelling consists of several images and a tool called 'before-after', where two images can be interactively compared by controlling a slider."
            ],
            image: {
                url: "./img/dist/tsunami.jpg",
                altText: "Teaser of Tsuami in Thailand from BILDplus",
                source: "BILD.de, http://www.bild.de/short/sti-38984690.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/bild-plus/storytelling/topics/tsunami/tsunami-10-jahre-danach-38984690.bild.html",
                text: "Storytelling - Tsunami at BILDplus"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery"
            ]
        },
        {
            name: "BILD: Storytelling – World War I",
            date: 2014,
            description: [
                "Fritz Rümmelein, a lieutenant in World War I, leaves letters, diaries, and maps from this period behind. The pieces of information were published in a book by Ralf Georg Reuth.",
                "The whole story of the lieutenant is told in eight chapters, enriched with countless pictures and maps."
            ],
            image: {
                url: "./img/dist/wki.jpg",
                altText: "Teaser of World War I from BILD.de",
                source: "BILD.de, http://www.bild.de/short/sti-37037790.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/short/sti-37037790.bild.html",
                text: "World War I at BILD.de"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery"
            ]
        },
        {
            name: "BILD: Storytelling – The last journey of Gernot Fahl",
            date: 2014,
            description: [
                "Nominated for the 'Grimme Online Award 2014', this report tells a story about Gernot Fahl, who wanted to receive euthanasia in Switzerland."
            ],
            image: {
                url: "./img/dist/gernot.jpg",
                altText: "Teaser of Gernot Fahl from BILD.de",
                source: "BILD.de, http://www.bild.de/short/sti-33338936.bild.html"
            },
            anchor: {
                href: "http://www.bild.de/storytelling/topics/storytelling/die-letzte-reise-des-gernot-fahl-33338936,la=de.bild.html",
                text: "The last journey of Gernot Fahl at BILD.de"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3/Sass",
                "HTML5/PugJS",
                "jQuery"
            ]
        },
        {
            name: "Teaching Institute for Individualsynthese",
            date: 2013,
            description: [
                "Design and implementation of a wordpress website. An event manager plugin helps customers to apply for courses."
            ],
            image: {
                url: "./img/dist/individualsynthese.jpg",
                altText: "Screenshot of individualsynthese.de",
                source: "http://individualsynthese.de"
            },
            anchor: {
                href: "http://individualsynthese.de/",
                text: "Individualsynthese by Anja Parchmann"
            },
            labels: ["freelance"],
            technologies: [
                "Wordpress",
                "JavaScript",
                "CSS3",
                "HTML5",
                "Photoshop"
            ]
        },
        {
            name: "LeadAward Symposium 2013",
            date: 2013,
            description: [
                "Under the title 'IT’S A BATTLE, STUPID!', two teams have competed against each other during the LeadAwards. As the only web developer I had to implement a website within six hours and then present it. Three team members were responsible for the content and one was responsible for the layout.",
                "We had a lot of fun under the pressure of time. The result is unfortunately offline now."
            ],
            anchor: {
                href: "http://www.leadacademy.de/2013/symposium.html",
                text: "LeadAward Symposium 2013"
            },
            labels: ["team 6+", "work"],
            technologies: [
                "JavaScript",
                "CSS3",
                "HTML5"
            ]
        },
        {
            name: "Practice for naturopathy and osteopathy",
            date: 2008,
            description: [
                "Design and implementation of a wordpress website representing a practice for naturopathy and osteopathy."
            ],
            image: {
                url: "./img/dist/dduve.jpg",
                altText: "Screenshot of dagmarduve.de",
                source: "http://dagmarduve.de"
            },
            anchor: {
                href: "http://dagmarduve.de/",
                text: "Practice for naturopathy and osteopathy"
            },
            labels: ["alone", "freelance"],
            technologies: [
                "Wordpress",
                "JavaScript",
                "CSS3",
                "HTML5",
                "Photoshop"
            ]
        }
    ]
