@import "settings";

body {
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

a,
a:visited {
    color: currentColor;
}

a:hover {
    color: map-get($colors, highlight);
}

.nocontent {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 ($gutter*2);
    max-width: map-get($breakpoints, mid);
    font:  {
        family: map-get($font, "family");
        weight: 400;
        size: 17px;
    }
    line-height: 1.4;
}

@import "projects";
@import "entrylist";
@import "imprint";

::selection {
    color: map-get($colors, lightest);
    background: map-get($colors, highlight);
}
