-
    var socials = [
        {
            icon: "github",
            href: "http://github.com/dazlious/"
        },
        {
            icon: "facebook",
            href: "http://www.facebook.com/dazlious/"
        },
        {
            icon: "twitter",
            href: "https://twitter.com/gedankenlos2012/"
        },
        {
            icon: "instagram",
            href: "https://www.instagram.com/foo_daz/"
        },
        {
            icon: "linkedin",
            href: "https://www.linkedin.com/in/michael-duve"
        },
        {
            icon: "xing",
            href: "https://www.xing.com/profile/Michael_Duve"
        },
        {
            icon: "youtube",
            href: "https://www.youtube.com/c/dazlious"
        }
    ]

header.profile
    div.profile__content
        div.profile--left
            img.profile__image(src="./img/dist/mduve.jpg", alt="Picture of Web Frontend Developer Michael Duve", loading="eager")
        div.profile--right
            div.profile--top
                ul.profile__list
                    each social in socials
                        li.profile__list-item
                            a.profile__list-item-icon(href=social.href, target="_blank")
                                span(class="fa fa-" + social.icon)
            div.profile--bottom
                h1.profile__heading A developer's work
                    span.profile__heading-sub by Michael Duve (dazlious)

